 <!-- <section class="property-binding container">
  <article>
    <h3>Interpolação</h3>
    <p> String renderizada com interpoloção: {{ url }}</p>
    <p>Resultado de 1 + 1 é : {{ 1 + 1 }} </p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular é gosto de curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
  </article>

  <article>
    <h3> Class e Style Binding </h3>
    <div>
      selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success"> Success </option>
        <option value="alert-danger"> Danger </option>
        <option value="alert-info"> Info </option>
        <option value="alert-warning"> Warning </option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div class="alert " role="alert"
      [class.alert-success]="classe.value == 'alert-success'">
       Suceess
      </div>
      <div class="alert " role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'">
       Danger
      </div>
      <div class="alert " role="alert"
      [class.alert-info]="classe.value == 'alert-info'">
       Info
      </div>
      <div class="alert " role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">
       Warning
      </div>

      <div class="alert alert-danger" role="alert"
       [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
      Esse texto somente aparece em caso de erro.
       Danger
      </div>

    </div>
  </article>
</section> -->

<section class="event-binding container">
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()"
      class="btn btn-primary">Click Here</button>

      <br/><br/>
      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor($event.target.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput/>
      <p> Valor Atual : {{ valorAtual }}</p>
      <p> Valor Salvo : {{ valorSalvo }}</p>

      <br/> <br/>

      <span
      (mouseover)="onMouse()"
      [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span>
    </div>
  </article>
</section>